<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

</head>
<body>

<div class="row">
    <div class="navigation-box">
        <a href="/"><p class="logo">Danmark mod Madspild</p></a>
        <p class="categori-line">
            <a href="/forbruger"><span class="categori">Forbruger</span></a>
            <a href="/virksomhed"><span class="categori">Virksomhed</span></a>
            <a href="/organisationer"><span class="categori">Organisationer</span></a>
        </p>
    </div>

</div>


    <div class=container>

        <div class="row">
            <div class="col-sm-3" style="border: solid gray;margin:45px">
                <div class="OverskriftPadding"><div class="headline"><h2 style="text-align: center">Forbruger</h2> </div></div>
                <div class="text-normal"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                    tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                    in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Integer tempor a ugue vulputate nibh consectetur suscipit. Curabitur at placerat
                    arcu. Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum
                    lorem a blandit. In hac habitass e platea dictumst. Curabitur tincidunt est at turpis</p></div>
                <div class="buttomCenter"><button type="button" class="link-button-small"><a href="/forbruger">Læs mere</a></button></div>
            </div>
            <div class="col-sm-3" style="border: solid gray;margin: 45px">
                <div class="OverskriftPadding"><div class="headline"><h2 style="text-align: center">Virksomhed</h2> </div></div>
                <div class="text-normal"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                    tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                    in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Integer tempor a ugue vulputate nibh consectetur suscipit. Curabitur at placerat
                    arcu. Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum
                    lorem a blandit. In hac habitass e platea dictumst. Curabitur tincidunt est at turpis</p></div>
                <div class="buttomCenter"><button type="button" class="link-button-small"><a href="/virksomhed">Læs mere</a></button></div>
            </div>
            <div class="col-sm-3" style="border: solid gray;margin: 45px">
                <div class="OverskriftPadding"><div class="headline"><h2 style="text-align: center">Organisationer</h2> </div></div>
                <div class="text-normal"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                    tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                    in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Integer tempor a ugue vulputate nibh consectetur suscipit. Curabitur at placerat
                    arcu. Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum
                    lorem a blandit. In hac habitass e platea dictumst. Curabitur tincidunt est at turpis</p></div>
                <div class="buttomCenter"><button type="button" class="link-button-small"><a href="/organisationer">Læs mere</a></button></div>
                <div class="box1"></div>
            </div>
        </div>
    </div>



    </body>
</div>
