<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Organisationer</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body class="body-format">
<div class="row">
    <div class="navigation-box">
        <a href="/"><p class="logo">Danmark mod Madspild</p></a>
        <p class="categori-line">
            <a href="/forbruger"><span class="categori">Forbruger</span></a>
            <a href="/virksomhed"><span class="categori">Virksomhed</span></a>
            <a href="/organisationer"><span class="categori-hightlight">Organisationer</span></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-lg-9">
        <div class="content-body">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="site-title">ORGANISATIONER</h1>
                    <div id="paragraph-section">
                        <h2 class="headline">Hvad kan i gøre?</h2>
                        <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                            tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                            in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                            himenaeos. Integer tempor a ugue vulputate nibh consectetur suscipit. Curabitur at placerat
                            arcu. Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum
                            lorem a blandit. In hac habitass e platea dictumst. Curabitur tincidunt est at turpis</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="color-container">
                    <div class="row">
                        <div class="col">
                            <div id="color-box-red">
                                <p class="color-title">Dårligt</p>
                                <ul class="color-list">
                                    <li>Lorem</li>
                                    <li>Ipsum</li>
                                    <li>Dolor</li>
                                    <li>Sit</li>
                                    <li>Aet</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div id="color-box-yellow">
                                <p class="color-title">Neutralt</p>
                                <ul class="color-list">
                                    <li>Lorem</li>
                                    <li>Ipsum</li>
                                    <li>Dolor</li>
                                    <li>Sit</li>
                                    <li>Aet</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div id="color-box-green">
                                <p class="color-title">Godt</p>
                                <ul class="color-list">
                                    <li>Lorem</li>
                                    <li>Ipsum</li>
                                    <li>Dolor</li>
                                    <li>Sit</li>
                                    <li>Aet</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="indented-section">
                <div class="row">
                    <div class="col">
                        <h2 class="headline">Sammenhold</h2>
                        <p class="text-normal-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                            tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                            in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                            himenaeos. Integer tempor augue vulputate nibh consectetur suscipit. Curabitur at placerat arcu.
                            Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum lorem
                            a blandit. In hac habitasse platea dictumst. Curabitur tincidunt est at turpis suscipit, quis
                            commodo diam tincidunt. Vestibulum sagittis tincidunt nulla, a commodo erat. Cras blandit dolor
                            in nisl lacinia porttitor. Donec vitae leo et quam euismod egestas. Cras nec facilisis magna.
                            Curabitur pellentesque sem vel leo sollicitudin, ac rutrum purus vehicula.</p>
                        <div align="right">
                            <a class="link-button-small">Læs Mere</a>
                        </div>
                    </div>
                    <div class="col">
                        <img class="col-picture" src="Stock-3.png">
                    </div>
                </div>
            </div>
            <br>
            <div class="indented-section">
                <div class="row">
                    <div class="col">
                        <img class="col-picture" src="Stock-4.png">
                    </div>
                    <div class="col">
                        <h2 class="headline">Miljø</h2>
                        <p class="text-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna augue,
                            tempor commodo velit sed, sagittis varius dolor. Nulla vitae eros non lacus lacinia auctor sed
                            in neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                            himenaeos. Integer tempor augue vulputate nibh consectetur suscipit. Curabitur at placerat arcu.
                            Nam enim massa, hendrerit sed sapien vel, porta interdum ipsum. Aenean bibendum bibendum lorem
                            a blandit. In hac habitasse platea dictumst. Curabitur tincidunt est at turpis suscipit, quis
                            commodo diam tincidunt. Vestibulum sagittis tincidunt nulla, a commodo erat. Cras blandit dolor
                            in nisl lacinia porttitor. Donec vitae leo et quam euismod egestas. Cras nec facilisis magna.
                            Curabitur pellentesque sem vel leo sollicitudin, ac rutrum purus vehicula.</p>
                        <div>
                            <a class="link-button-small">Læs Mere</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="col-sm"></div>
</div>
<br>
<br>
<br>
<br>
</body>
</html>